html {
    scroll-behavior: smooth;
  }


img {
    width: 100%;
    max-width: 681px;
    min-width: 95%;
}

p {
color:#637381;
}

footer {
    border-top: 1px #000 solid;
    margin-top: 30px;
}

.sideline {
    border-right: #2C2C2C 1px solid;
}

.linksmall {
    font-family: 'MaisonNeue-Book';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color: #2C2C2C;
    line-height: 100px;
    padding-bottom: 20px;
    text-decoration: underline;

}

.linksmall:hover {
    color:  rgb(109, 109, 109);
    transition: 0.1s ease-in-out; 
  }


body {
    background-color: #FFF6ED;  
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: "kern"1;
    font-feature-settings: "kern"1;
    -webkit-font-smoothing: antialiased;
    background: rgb(221,232,229);
    background: linear-gradient(180deg, rgba(221,232,229,1) 0%, rgba(250,250,250,1) 70%);
  }

.padding-right{
    padding-right: 20px;
}

.container{
margin-bottom: 5rem;
}

.container-fluid{
    max-width: 1600px;
}



.padding{
    padding-right: 20px;
}




.spaceafter{
    margin-bottom: 6rem;
}


.maxtext{
    max-width: 1200px;
}

.maxtext-small {
    max-width: 900px;
}

.container-fluid {
    /* border-style: solid;
    border-color: red; */
    margin-bottom: 5rem;
}

.centertext{
    text-align:center;
}

.illustration {
    height: 150px;
  width: 50%;
}

.illo {
    width: 90%;
    min-width: 2%;
    max-width: 500px;
}


.navbar{
margin-bottom: 5rem;
}


.spacer{
margin-bottom: 2.2rem;
}

.spacer-large {
    margin-bottom: 4rem;
}

.spacer-mini{
    margin-bottom: 1.2rem;
}

.spacer-small{
    margin-bottom: 1.5rem; 
}

.topspacer {
    margin-top: 4rem;
}

.navbar{
    border-bottom: black solid 1px;
    height: 70px;
    padding: 5%;
    max-height: 70px;
}

.inset{
    margin-left: 5%;
}





/* Fonts */

.display-3{
    font-family: 'MaisonNeueExt-Book';
    font-weight: normal;
    font-style: normal;
    font-size: 80px;
    color: #2C2C2C;
    line-height: 100px;
    padding-bottom: 20px;

}

.text{
    font-family: 'MaisonNeueExt-Book';
}

.padding-bottom{
padding-bottom: 2rem;
}

.link{
    font-family: 'MaisonNeueExt-Book';
    font-weight: normal;
    font-style: normal;
    font-size: 22px; 
    text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern"1;
  font-feature-settings: "kern"1;
  -webkit-font-smoothing: antialiased;
  color: black;
  text-decoration-line: underline;
}

.link:hover {
    color:  rgb(109, 109, 109);
    transition: 0.1s ease-in-out; 
  }

.spacerlist{
    padding-top: 20px;
}

.card-body {
    max-width: 800px;
    padding: 0rem ;
}

ul{
    color: #637381;
}

li{
    color:#637381;
}

.card{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fafafa; 
    background-clip: border-box;
    border: 0px solid rgba(0,0,0,.125);
    border-radius:  0rem;
}


.card-header {
    padding: 0rem;  
    margin-bottom: 0;
    background-color: #fafafa;;
    border-bottom: 0px solid rgba(0,0,0,.125);
    text-align: left;
    
}

.btn{
    padding: 0;
    color: black;
    font-size: 22px;
    /* text-decoration: underline; */
    margin-bottom: 2rem;
    font-family:'MaisonNeueExt-Book' ;
    text-align: left;
}








.accordion{
    margin-bottom: 40px;
}


.arrow-wave{
    max-width: 160px;
    min-width: 200px;
    padding-top: 140%;

}

h2{
    font-family: 'MaisonNeueExt-Book';
    font-weight: normal;
    font-style: normal;
    font-size: 50px; 
    text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern"1;
  font-feature-settings: "kern"1;
}

h4{
    font-family: 'MaisonNeueExt-Book';
    font-weight: normal;
    font-style: normal; 
    line-height: 2rem;
    font-size: 30px;
    text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern"1;
  font-feature-settings: "kern"1;
}

h5{
    font-family: 'MaisonNeueExt-Book';
    font-weight: normal;
    font-style: normal; 
    line-height: 36px;
    font-size: 26px;
    text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern"1;
  font-feature-settings: "kern"1;
}

h6{
    font-family: 'MaisonNeueExt-Book';
    font-weight: normal;
    font-style: normal; 
    /* line-height: 36px; */
    font-size: 22px;
    text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern"1;
  font-feature-settings: "kern"1;
}

.boldp {
    font-family: 'MaisonNeue-bold';
    font-weight: normal;
    font-style: normal;
    font-size: 16px; 
    text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern"1;
  font-feature-settings: "kern"1;
  -webkit-font-smoothing: antialiased;
  color: black;
}  


p {
    font-family: 'MaisonNeue-Book';
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern"1;
  font-feature-settings: "kern"1;
}



/* Media queires  */


@media (max-width: 575.98px) { 
h1 {
        font-size: 30px;
    }

.display-3{
    font-size: 30px;
    line-height: 40px;
}

.inset{
    margin-left: 1%;
}

.navbar {
    margin-bottom: 2rem;
}

}




@font-face {
    font-family: 'Maison Neue';
    src: url('/fonts/MaisonNeue-Bold.woff2') format('woff2'),
        url('/fonts/MaisonNeue-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Maison Neue';
    src: url('/fonts/MaisonNeue-Book.woff2') format('woff2'),
        url('/fonts/MaisonNeue-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Maison Neue Ext Book';
    src: url('/fonts/MaisonNeueExt-Book.woff2') format('woff2'),
        url('/fonts/MaisonNeueExt-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Glyphicons Halflings";
    src: url("../fonts/glyphicons-halflings-regular.eot");
    src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
  }
