img {
    width: 100%;
    max-width: 800px;
    min-width: 100%;
}

body {
    background-color: #FFF6ED;  
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: "kern"1;
    font-feature-settings: "kern"1;
    -webkit-font-smoothing: antialiased;
  }

.container{
margin-bottom: 5rem;
/* border-style: solid;
border-color: red; */
}

.padding{
    padding-right: 20px;
}



.maxtext{
    max-width: 1000px;
}

.container-fluid {
    /* border-style: solid;
    border-color: red; */
    margin-bottom: 5rem;
}

.centertext{
    text-align: center;
}

.navbar{
margin-bottom: 5rem;
}

.spacer{
margin-bottom: 1.2rem;
}

.topspacer {
    margin-top: 4rem;
}

.navbar{
    border-bottom: black solid 1px;
    height: 70px;
}


/* breakpoints */

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
.inset {
    margin-left: 10%;

}
/* .imginset{
    min-width: 30%;
    max-width: 30%;
} */

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }

/* Fonts */

.display-3{
    font-family: 'MaisonNeueExt-Book';
    font-weight: normal;
    font-style: normal;
    font-size: 80px;
    color: #2C2C2C;
    line-height: 100px;

}

.link{
    font-family: 'MaisonNeueExt-Book';
    font-weight: normal;
    font-style: normal;
    font-size: 16px; 
    text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern"1;
  font-feature-settings: "kern"1;
  -webkit-font-smoothing: antialiased;
}

h2{
    font-family: 'MaisonNeueExt-Book';
    font-weight: normal;
    font-style: normal;
    font-size: 60px; 
    text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern"1;
  font-feature-settings: "kern"1;
}

h4{
    font-family: 'MaisonNeueExt-Book';
    font-weight: normal;
    font-style: normal; 
    line-height: 2rem;
    font-size: 30px;
    text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern"1;
  font-feature-settings: "kern"1;
}

h5{
    font-family: 'MaisonNeueExt-Book';
    font-weight: normal;
    font-style: normal; 
    line-height: 36px;
    font-size: 26px;
    text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern"1;
  font-feature-settings: "kern"1;
}

h6{
    font-family: 'MaisonNeueExt-Book';
    font-weight: normal;
    font-style: normal; 
    line-height: 36px;

    font-size: 22px;
    text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern"1;
  font-feature-settings: "kern"1;
}


p {
    font-family: 'MaisonNeue-Book';
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern"1;
  font-feature-settings: "kern"1;
}



@font-face {
    font-family: 'Maison Neue';
    src: url('/fonts/MaisonNeue-Bold.woff2') format('woff2'),
        url('/fonts/MaisonNeue-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Maison Neue';
    src: url('/fonts/MaisonNeue-Book.woff2') format('woff2'),
        url('/fonts/MaisonNeue-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Maison Neue Ext Book';
    src: url('/fonts/MaisonNeueExt-Book.woff2') format('woff2'),
        url('/fonts/MaisonNeueExt-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}